<div class="container">
  <div class="row">
    <div class="col-8">
      <!--Chose username section-->
      <section>
        <app-login></app-login>
      </section>

      <br>
      <br>

      <!--Chat window content-->
      <section>
        <app-chat></app-chat>
      </section>

      <br>
      <br>
      <!--Send message Field-->
      <section>
        <app-sendmessage></app-sendmessage>
      </section>

    </div>
    <!--User list section-->
    <section class="col-4">
      <app-userlist></app-userlist>
    </section>
  </div>
</div>